* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    }
header{
    display: flexbox;
    text-align: center;
    position:sticky;
}
.logopng{
    text-align: center;
}
.logo{
    background-color: #A12040;
    padding:20px;
    padding-top: 10px;
    width: 100%;
    color:#fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 
.logo span{
    display: block;
}
.menu {
    display: flex;
    width: 100%;
    z-index: 100;
    overflow: hidden; 
    font-weight: 600;
    padding-bottom: 20px;
}
.cajas:hover {
    background-color:#bbbbbb;
}
.cajas {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-size: 16px;
    padding: 20px;
}
h1 {
    font-size: 30px;
    padding: 10px;
    padding-top: 40px;
}
.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.categorias {
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 3px solid #bcbcbc;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1rem;
}
.categorias:hover {
    background-color: #eee94d;
}
.secciones {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid  #bcbcbc;
}
.pagina_catalogo {
    grid-column-start: 1;
    grid-column-end: 1;
}
.galeria_productos {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 1.5rem;
    list-style: none;
    margin-top: 2rem;
  }
  .galeria_item {
    width: 100%;
    margin-bottom: .25rem;
  }
  .precio_producto {
    margin-bottom: 0;
    font-size: .875rem;
    text-align: center;
    color: #444;
  }
  @media only screen and (min-width: 480px) {
    :root {
      --columns: 1;
    }
  }
  @media only screen and  (min-width: 768px) {
    :root {
      --columns: 1;
    }
  }
  @media only screen and (min-width: 992px) {
    :root {
      --columns: 1;
    }
  }
  @media only screen and  (min-width: 1200px) {
    :root {
      --columns: 4;
    }
  }
  @media only screen and  (min-width: 1400px) {
    :root {
      --columns: 4;
    }
  }